<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Witty - Home</title>
    <link rel="stylesheet" href="css/asesor-home.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<div id="user-data"
        data-nombre-usuario="<%= nombreUsuario %>"
        data-correo="<%= correo %>"
        data-carrera="<%= carrera %>"
        data-disponibilidad="<%= disponibilidad %>">
    </div>

    <header>
        <a href="/"><img src="img/logo.png" alt=""></a>
        <h2>Witty</h2>
        <h2 class="asesorias">ASESORIAS</h2>
        <div id="usuario-info">
            <h2>Hola, <%= nombreUsuario %></h2>
        </div>
        <img class="user" src="img/user.png" alt="">
    </header>

    <input type="hidden" id="asesorId" value="<%= asesorId %>">

    <div class="containerinfo">
        <div class="menu">
                <h1>OPCIONES</h1>
                <a class="opc1" href="">INFORMACION</a>
                <a class="opc2" href="">CREA TUTORIA</a>
                <a class="opc3" href="">CITAS AGENDADAS</a>
                <a class="opc4"></a>
        </div>
        <div id="contenido-dinamico" data-asesor-id="<%= asesorId %>"></div>
</div>

<!-- Modal -->
<!-- Modal -->
<div id="modal" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <h1>CREAR NUEVA TUTORIA</h1>
        <form action="/registrar-asesoria" method="POST">
            <h4>Carrera</h4>
            <select name="carrera" id="carrera" required></select>
            <h4>Cuatrimestre</h4>
            <select name="cuatrimestre" id="cuatrimestre" required></select>
            <h4>Materia</h4>
            <select name="materia" id="materia" required></select>
            <h4>Disponibilidad</h4>
            <input type="text" placeholder="Ingresa tu disponibilidad" name="disponibilidad" required>
            <h4>Precio Asesoría</h4>
            <input type="number" placeholder="Ingresa el precio de la asesoría" name="precio_asesoria" required>
            <button type="submit">Crear Tutoría</button>
        </form>
    </div>
</div>



</body>
<script src="js/asesor.js"></script>
    
</html>
